@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{
	--color_principal: #121212;
	--color_fondos: #ffffff;
	--color_resaltar: #ceff00;
	--color_obscuro: #004d06;
}

*{
	font-family: 'Poppins', sans-serif;
  	caret-color: red;
}

::-webkit-scrollbar {
	background: var(--color_fondos);
}

::-webkit-scrollbar-thumb {
	background: var(--color_fondos);
    box-shadow: inset 0 0 0px 2px var(--color_obscuro);
    border-radius: 100px; 
    border: 3px solid transparent;
    background-clip: content-box;
    transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color_resaltar);
    box-shadow: inset 0 0 0px 2px var(--color_principal);
    background-clip: content-box;
}

*::selection {
  	background: var(--color_resaltar);
	color: var(--color_principal);
}

body{
    padding: 0;
    margin: 0;
    justify-content: center;
}

html{
    padding: 0;
    margin: 0;
    background-color: var(--color_obscuro); 
    background-color: #000000;
    opacity: 1;
    background-image: radial-gradient(var(--color_obscuro) 1.9px, var(--color_principal) 1.9px);
    background-size: 16px 16px;
    background-position: center;
}

.divisor{
    font-size: 0;
    background: var(--color_obscuro);
    width: 100%;
    height: 2px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.cuerpo{
    display: block;
    background: var(--color_fondos);
    width: 100vw;
    max-width: calc(1000px - 3cm);
	margin:0;
    margin-left:2cm;
	margin-right:2cm;
    margin-top: 1cm;
    padding: 1.5cm;
    border-left: 3px double var(--color_principal);
    border-right: 3px double var(--color_principal);
	min-height: calc(100vh - 4cm - 9.3cm);
	height: fit-content;
	box-shadow: 0 0 1cm rgba(0,0,0,0.4);
}

h1{
	font-weight: bold;
	margin-top:0;
    text-align: center;
    font-size: 3em;
}

.pie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 9cm;
    bottom: 0;
    left: 0;
    background: rgba(0,255,0,0.5);
    margin: 0;
    background-color: var(--color_obscuro);
    background-image: url(imgs/oscurizador.png);
    border-top: 0.3cm solid var(--color_fondos);
}

.pie h1{
    margin: 0;
}

.pie *{
    color: var(--color_fondos);
}

.div_final{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.div_final div, .div_final img{
    display: inline-block;
}

.imagen_footer{
    overflow: visible;
    background-color: var(--color_fondos);
    border-radius: 1000px;
    height: 5cm;
    scale: 0.8;
    border: 0.3cm solid var(--color_fondos);
}

.auxCuerpo{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar{
    display: inline-block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	border: none;
    background: var(--color_obscuro);
    background-image: url(imgs/oscurizador.png);
}

nav{
    background: var(--color_obscuro);
    background-image: url(imgs/oscurizador.png);
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0;
}

.logo{
    color: var(--color_fondos);
}

nav ul{
    list-style: none;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.menu > li, .menu a{
    display: inline-block;
}

.menu a{
    text-decoration: none;
    color: var(--color_fondos);
    display: block;
    padding: 12.5px 10px;
    transition: background-color 0.2s ease, -color 0.2s ease;
}

.menu a:hover{
    background-color: var(--color_fondos);
    color: var(--color_obscuro);
}

.menu li{
    position: relative;
}

.submenu{
    position: absolute;
    background-color: var(--color_obscuro);
    width: 140px;
    left: 0;
    display: none;
    border-radius: 0px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px var(--color_principal);
}

.menu li:hover > .submenu{
    display: block;
    animation: arriba .2s ease, izquierda .4s ease;
}

.menu{
    height: 100%;
}

.menuHijo{
    height: 100%;
}

@keyframes arriba {
     0%{
         opacity: 0;
         transform: translatey(18px);
     }
     100%{
         opacity: 1;
         transform: none;
     }
 }

@keyframes izquierda {
    0%{
         opacity: 0;
         transform: translateX(18px);
    }
    100%{
         opacity: 1;
         transform: none;
    }
}


ul{
    list-style: none;
}


.In-control{
  caret-color: red;
}

#CURP{
  font-size:2vh;
}

.tp{
  margin-bottom: 2.5vh;
}

table{
    width: 100%;
}

tbody{
    width: 100%;
}

tr{
    width: 100%;
    display: flex;
    background: var(--color_obscuro);
    border: 3px double var(--color_principal);
    border-radius: 0.2cm;
    margin-bottom: 3px;
    color: var(--color_fondos);
}

tr:nth-child(even){
    background-image: url(imgs/blanqueador.png);
    background-blend-mode:overlay;  
}

tr a{
    display: block; 
    background: var(--color_principal);
    color: var(--color_fondos);
    width: 100%;
    border-radius: 0.2cm;
    transition: background 0.2s, color 0.1s, box-shadow 0.5s;
    text-decoration: none;
    text-align: center;
}

tr a:hover, a:hover, .boton_a:hover, input::file-selector-button:hover, p button:hover{
    cursor: pointer;
    background: var(--color_fondos);   
    color: var(--color_principal);
    box-shadow: 0 0 0.1cm var(--color_principal);
    transform: scale() 0.2s;
}

tr a:active, a:active, .boton_a:active, input::file-selector-button:active, p button:active{
    scale: 0.9;
}

.boton_a, input::file-selector-button, p button{
    display: block; 
    background: var(--color_principal);
    color: var(--color_fondos);
    border-radius: 0.2cm;
    transition: background 0.2s, color 0.1s, box-shadow 0.5s;
    text-decoration: none;
    text-align: center;
    padding: 0.2cm 3cm;
    width: fit-content;
    margin: 0.2cm;
    border-bottom: 2px solid var(--color_obscuro);
}

th{
    display: block;
    flex: 1;
    padding: 2px;
    text-align: center;
    background: var(--color_principal);
}

td{
    display: block;
    flex: 1;
    padding: 2px;
    text-align: left;
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form * {
    flex: 50%;
    margin-left: 0.5cm;
}

form label{
    flex-basis: 23% !important;
    text-align: end;
    margin:0;
}

form input{
    border: none;
    border-bottom: 1px solid var(--color_obscuro);
    display: block;
    width: 10px;
}

.boton_extra{
    flex-basis: 20%;
}

select{
    border: 1px solid var(--color_obscuro);
}

form input, form select, form h2{
    margin-bottom: 1cm
}

.linea_4{
    line-height: calc(1em + 0.55cm);
}

input::file-selector-button{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 0.1cm 0.5cm;
    margin: 0.1cm 0.2cm 0.1cm 0.1cm;
    border: none;
    display: inline-block;
    border-bottom: 1px solid var(--color_obscuro);
}

input::file-selector-button:hover{
    box-shadow: 0 0 0.1cm var(--color_principal);
}

.lectura_archivo{
    border: none;
}

.imagen_logo{
    display: block;
    width: 60%;
}

.ACSI_principal{
    font-size: 8em;
}

.inventario{
	width: 100%;
	display:flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.botones_inventario{
    margin-top: auto;
    height: fit-content;
}

.datos_objeto .boton_a{
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 10px 0;
}

.objeto_inventario{
	flex: 290px;
	margin: 0;
	padding: 0;
	height: 400px;
	margin-top: 10px;
}

.datos_objeto{
	padding: 20px;
	width: 240px;
	background: var(--color_obscuro);
    background-image: url(imgs/blanqueador.png);
    background-blend-mode:overlay;
	height: 354px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	border-radius: 10px;
	border: 3px double var(--color_principal);
}

.datos_objeto *{
    text-overflow: ellipsis;
    overflow: hidden;
}

.datos_objeto div{
    height: 255px;
    margin-bottom: 20px;
}

.datos_objeto h2{
    text-align: left;
    margin: 0;
    width: 240px;
}

#Tem{
	width:20%;
}

.imagen_inventario{
    display: block;
    float: right;
    width: calc(40% / 5 * 2);
    min-width: 200px;
    aspect-ratio: 1 / 1;
    position: relative;
    top: -10px;
    margin-right: 30px;
}

.imagen_inventario img{
    display: block;
    width: auto;
    height: 100%;
    margin-left: auto;
}

.medicina_botones{
    //display: flex;
    margin-top: 40px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}

.medicina_botones a{
    display: inline-block;
    min-width: 175px;
    padding: 0.2cm 2cm;
}

#container {
	/*width: auto;
	max-width: 500px;
	height: auto;*/
	margin: 5em auto;
	overflow: hidden;
	border: 10px solid #EEE5E5;
	outline: 5px dashed #EEE5E5;
	position: relative;
}
#container img {
	/*width: 100%;
	height: 100%;*/
	margin-bottom: -5px;
	transition: all 0.3s ease-out;
	position: relative;
	z-index: 2;
}

#container:hover img {
	transform: scale(1.2, 1.2);
	z-index: 9;
}

.box-text {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	padding: 10px;
    background-image: linear-gradient( 135deg, rgba(129, 255, 239, 0.50) 10%, rgba(240, 103, 180, 0.65) 100%);
	opacity: 1;
	transition: 0.3s linear;
	color: #FFF;
	text-shadow: 2px 2px 2px #333;
	
}
.box-text h1 {
	font-size: 2.2em;
}

.box-text p {font-size: 1.5em;}

.box-text:hover{opacity: 0;}

.buscador_principal{
	display: block;
	font-size: 1rem;
	/*padding: 10px;
	border-radius: 100px;*/
	width: 80%;
    margin: 0.4cm;
	margin-left: auto;
	margin-right: auto;
	border: none;
    border-bottom: 1px solid var(--color_obscuro);
	//box-shadow: 0 2px 7px var(--color_principal);
}

.bordes{
    margin: 1cm;
}

@media only screen and (max-width: 1050px){
    .medicina_botones a{
        display: block;
    }
    .imagen_inventario{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .cuerpo{
        margin-top: 0cm;
        min-height: calc(100vh - 3cm);
        height: fit-content;
    }
    
    form * {
        flex: 100%;
        margin-left: 0;
    }
    form label{
        text-align: start;  
    }
    .desaparece{
        display: none;
    }
}

@media only screen and (max-width: 515px) {
    :root{
        
    }
    .cuerpo{
		max-width: calc(100vw - 3cm);
		width: 100vw;
		padding: 0;
		padding-left: 2cm;
		padding-right: 2cm;
		margin:0;
	}
	h1{
		margin-top: 1.5em;
	}
    
}